*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: var(--text-color);
  user-select: none;
  -webkit-tap-highlight-color: none;
}

:root {
  --primary-color: #121213;
  --secondary-color: #3a3a3c;
  --text-color: #ffffff;
  --transition-duration: 0.15s;
  --success-color: #538d4e;
  --almost-correct-color: #b59f3b;
  --wrong-color: #3a3a3c;
  --key-color: #818384;
  --header-height: 50px;
}

body {
  font-family: sans-serif;
  background-color: var(--primary-color);
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  border-bottom: 1px solid var(--secondary-color);
  padding: 0px 15px;
}

.header > h1 {
  font-weight: 500;
  font-size: 37px;
  flex: 1;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: 100%;
  z-index: 999;
  letter-spacing: 0.01em;
}

.container {
  height: calc(100vh - var(--header-height));
  max-width: 500px;
  margin: 0px auto;
  padding: 10px 10px;
}

.words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 10px;
  height: 65%;
}

.words .word {
  display: flex;
  gap: 5px;
  animation-duration: 0.5s;
  --offset: 2%;
}

.words .word .letter {
  --max-box-size: 55px;
  --box-size: 15vmin;
  --delay: 0.125s;
  width: var(--box-size);
  height: var(--box-size);
  max-width: var(--max-box-size);
  max-height: var(--max-box-size);
  border: 2px solid var(--secondary-color);
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
  transition: var(--transition-duration);
  animation-duration: var(--transition-duration);
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 35%;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

.keyboard .row {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  flex: 1;
}

.keyboard .row .key {
  font-weight: bold;
  border: none;
  background-color: var(--key-color);
  text-transform: uppercase;
  border-radius: 5px;
  flex: 0.1;
  height: 100%;
  max-height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--delay);
}

.keyboard .row:nth-child(1) .key {
  align-self: flex-end;
}

.keyboard .row:nth-child(2) .key {
  align-self: center;
}

.keyboard .row:nth-child(3) .key {
  align-self: flex-start;
}

.keyboard .row .key.perfect {
  background-color: var(--success-color);
}

.keyboard .row .key.correct {
  background-color: var(--almost-correct-color);
}

.keyboard .row .key.wrong {
  background-color: var(--wrong-color);
}

.keyboard .row .key.action {
  flex: 0.15;
}

.keyboard .row .key.action svg {
  pointer-events: none;
}

.keyboard .row .key:not(:disabled):hover {
  opacity: 0.85;
}

.letter-perfect-animation {
  background-color: var(--success-color);
  border-color: var(--success-color) !important;
}

.letter-correct-animation {
  background-color: var(--almost-correct-color);
  border-color: var(--almost-correct-color) !important;
}

.letter-wrong-animation {
  background-color: var(--wrong-color);
  border-color: var(--wrong-color) !important;
}

.key:disabled {
  opacity: 0.7;
  cursor: default !important;
}

.tip {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 3px;
  transition: var(--transition-duration);
  opacity: 0;
  z-index: 999999999999999999;
  text-align: center;
}

.tip.show {
  opacity: 1;
}

.icon {
  cursor: pointer;
  transition: var(--transition-duration);
}

.icon:hover {
  opacity: 0.8;
}

.profile-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999999999999999999999999999999;
  padding: 0px 15px;
  top: 0;
}

.profile-modal > .profile-modal-content {
  padding: 0 20px;
  width: 80%;
  max-width: 600px;
  height: 50vh;
  background-color: var(--primary-color);
  border-radius: 5px;
  align-items: center;
  text-transform: uppercase;
  transform: translateY(150%);
  transition: 0.3s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-modal > .profile-modal-content .close-btn {
  border: 1px solid var(--success-color);
  border-radius: 3px;
  background-color: var(--success-color);
  transition: var(--transition-duration);
  color: var(--text-color);
  padding: 10px 17.5px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.profile-modal > .profile-modal-content .close-btn:hover {
  opacity: 0.8;
}

.profile-modal > .profile-modal-content {
  letter-spacing: 2px;
  font-size: 3vmin;
}

.profile-modal > .profile-modal-content .stats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.profile-modal > .profile-modal-content .stats .stat .title {
  font-size: 14px;
  color: var(--key-color);
  margin-bottom: 5px;
}

.profile-modal > .profile-modal-content .stats .stat .text {
  font-size: 40px;
}

.profile-modal.show {
  visibility: visible;
}

.profile-modal.show > .profile-modal-content {
  transform: translateY(0%);
}

@keyframes letter-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes wrong-word-animation {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(var(--offset));
  }

  20% {
    transform: translateX(calc(var(--offset) * -1));
  }

  30% {
    transform: translateX(var(--offset));
  }

  40% {
    transform: translateX(calc(var(--offset) * -1));
  }

  50% {
    transform: translateX(var(--offset));
  }

  60% {
    transform: translateX(calc(var(--offset) * -1));
  }

  70% {
    transform: translateX(var(--offset));
  }

  80% {
    transform: translateX(calc(var(--offset) * -1));
  }

  90% {
    transform: translateX(var(--offset));
  }

  100% {
    transform: translateX(0);
  }
}

@media only screen and (max-height: 630px) {
  .words .word .letter {
    --box-size: 8vmin;
  }
}

@media only screen and (max-height: 450px) {
  .words .word .letter {
    --box-size: 6vmin;
  }
}
